html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --accent-color: #2196f3;
  --header-color: #212121;
  --white-text-color: #ffffff;
}
body {
  background: #ffffff;
  color: #757575;

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

.header-padding {
  padding-bottom: 47px;
}

.logo-header {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: #212121;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: Raleway, sans-serif;
}

.logo-header > .logo-header-front {
  color: #2196f3;
}
.nav-links {
  list-style-type: none;
}

.nav-links .nav-links-link {
  color: #212121;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-links .nav-links-link:hover,
.nav-links .nav-links-link:focus {
  color: var(--accent-color);
}

.header-adress {
  list-style-type: none;
}

.header-adress .header-adress-link {
  color: #757575;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-adress .header-adress-link:hover,
.header-adress .header-adress-link:focus {
  color: var(--accent-color);
}

.order-service {
  background-color: #2f303a;
  color: var(--white-text-color);
  text-align: center;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-service .order-service-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-service .order-service-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;

  background-color: #2196f3;
  color: var(--white-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.order-service .order-service-button:hover,
.order-service .order-service-button:focus {
  background-color: #188ce8;
}

.features {
  list-style-type: none;
}

.section-features {
  padding-top: 47px;
}

.features .features-title {
  margin-bottom: 10px;

  color: var(--header-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .features-text {
  font-size: 14px;
  line-height: 1.71;
}

.activities-images {
  list-style-type: none;
}

.activities .activities-title,
.team .team-title {
  margin-bottom: 50px;

  color: var(--header-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  list-style-type: none;
}

.team-list img {
  margin-bottom: 30px;
}

.team-list li {
  padding-bottom: 30px;
}

.team .team-subtitle {
  margin-bottom: 10px;
  color: var(--header-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .teaam-text {
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  background-color: #2f303a;
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-text-color);

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer .logo-footer-front {
  color: var(--accent-color);
}

.address {
  color: var(--white-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address > .address-link {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}

.address > .address-link:hover,
.address > .address-link:focus {
  color: var(--accent-color);
}

.portfolio-button-list {
  margin-bottom: 50px;
}

.portfolio-button-list,
.portfolio-list {
  list-style-type: none;
}

.portfolio .portfolio-button {
  min-width: 50px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  background-color: #f5f4fa;
  color: #212121;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio .portfolio-button:hover,
.portfolio .portfolio-button:focus {
  background-color: #2196f3;
  color: var(--white-text-color);
  cursor: pointer;
}

.portfolio .portfolio-title {
  margin-bottom: 4px;

  color: var(--header-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list img {
  margin-bottom: 20px;
}

.portfolio .portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}

/* основной цвет текста color: #212121; */

/* вторичный цвет текста color: #757575; */

/* прозрачный цает в адресе color: rgba(255, 255, 255, 0.6); */

/* белый цвет текста color: #FFFFFF; */

/* задний фон футера и героя background: #2F303A; */

/* задний фон всей страницы background: #F5F4FA;*/

/* акцент background: #2196F3; */
